sudo: false

language: rust

rust:
  - stable
  - beta
  - nightly

os:
  - linux

matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

cache: cargo

script:
  - cargo build --verbose --all
  - cargo test --verbose --all

branches:
  only:
    - master
